.analytics-page {
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

.analytics-page h1 {
  margin-bottom: 30px;
  color: #764A17;
  font-size: 15rem;
}

.analytics-header{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.analytics-column{
  display: flex;
  gap: 1.5em;
}

.left-column{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.right-column{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.top-boxes{
  display: flex;
  gap: 1.25rem;
}

.top-boxes > div {
  flex: 1;
}

.dashboard-box {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

@media (max-width: 968px) {
  .analytics-column {
    flex-direction: column;
  }
}